body{
    background-color: rgb(214, 234, 248 );
    padding: 35px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    color:rgb(41, 128, 185);
}
h4{
    text-align: center;
}
p {
    font-size: 18px;
}
img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
table {
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 5px;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


